## Position Estimation for Monthly Rebalance

### IMPORTANT ACTIONS (Before Executing Program)

[MANUAL] Start MAMP Server before downloading and updating database with prices

[MANUAL] Update the unit (shares of ETF currently held) in portfolio variable in CONSTANTS section

In [1]:
import pandas as pd
import numpy as np

import datetime

import pymysql
import sqlalchemy as db
from sqlalchemy import create_engine

import yfinance as yf # https://github.com/ranaroussi/yfinance

# connect to DB
engine = create_engine(
    "mysql+pymysql://root:root@127.0.0.1:8889/trading?unix_socket=/Applications/MAMP/tmp/mysql/mysql.sock")

# CONSTANTS
lookback_period = 126
vola_window = 20

portfolio = {
    'TQQQ': {'unit': 33},
    'TMF': {'unit': 311},
#    'UPRO': {'unit': 60}
}

In [2]:
"""
    Import Price History for a Ticker
"""
# Import Price History for a Ticker
# Multiple tickers can't be done simultaneously
# as dates since when data is available might be different.

def import_prices(ticker, db_table):
    
    # Download historical data from Yahoo! Finance using yfinance
    data = yf.download(ticker)

    
    # SQL insert statement
    insert_init = """INSERT INTO {} (trade_date, ticker, open, high, low, close, adj_close, volume) VALUES """.format(db_table)

    # add values for all days to the insert statement
    vals = ", ".join(["""('{}','{}', {}, {}, {}, {}, {}, {})""".format(str(day), ticker, row.Open, row.High, row.Low, row.Close, row['Adj Close'], row.Volume) for day, row in data.iterrows()])

    # handle duplicates
    insert_end = """ ON DUPLICATE KEY UPDATE open = VALUES(open), high = VALUES(high), low = VALUES(low), close = VALUES(close), adj_close = VALUES(adj_close), volume = VALUES(volume);"""

    
    # put parts together
    query = insert_init + vals + insert_end
    
    result = engine.execute(query)

In [3]:
# convert portfolio to DF to keep track other datapoints
port_df = pd.DataFrame.from_dict(data = portfolio, orient='index')

# Update DB price entries for portfolio equities
for ticker in port_df.index:
    import_prices(ticker, 'etf_history')
    
# Get price data from DB
# Initialize with date as index
query = "SELECT DISTINCT(trade_date) AS date FROM etf_history ORDER BY trade_date DESC LIMIT {};".format(
    lookback_period)
hist_df = pd.read_sql_query(sql = query, con = engine, index_col = 'date', 
                            parse_dates = True)

# populate with ticker
for ticker in port_df.index:
    query = "SELECT trade_date as date, adj_close as price FROM etf_history WHERE ticker = '{}' ORDER BY trade_date DESC LIMIT {};".format(
        ticker, lookback_period)
    hist_df[ticker] = pd.read_sql_query(sql = query, con = engine, index_col = 'date', 
                                        parse_dates = True)

# SQL connection close
engine.dispose()

hist_df = hist_df.dropna()
# reverse the DF as SQL query retrieved data in reverse Date order
hist_df = hist_df.iloc[::-1]
hist_df.tail()

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

                  TMF        TQQQ
date
2021-05-27  23.549999  101.599998
2021-05-28  23.360001  102.589996
2021-06-01  23.420000  101.589996
2021-06-02  23.580000  102.120003
2021-06-03  23.320000   98.910004

In [4]:
def volatility(ts):
    """
        For Volatility calculations, there are two options:
        1. To calculate mean of 20 day rolling window STD for past 126 days
        2. To calculate most recent 20 day rolling window STD
        Select the higher volatility between the two
        [TODO]: Need to research more to come up better selection process
    """
    #std1 = ts.pct_change().dropna().rolling(vola_window).std().mean()
    std2 = ts.pct_change().dropna().rolling(vola_window).std().iloc[-1]
    #return max(std1, std2)
    return std2

# Calculate inverse volatility for etfs and target positions weights
vola_table = hist_df.apply(volatility)
inv_vola_table = 1 / vola_table
sum_inv_vola = np.sum(inv_vola_table)
vola_target_weights = inv_vola_table / sum_inv_vola

vola_target_weights

TMF     0.688471
TQQQ    0.311529
dtype: float64

In [5]:
# Calculate how many units of ETFs need to be transacted
# Current portfolio data
port_df['last_price'] = hist_df.iloc[-1]
port_df['amount'] = port_df['last_price'] * port_df['unit']
port_df['curr_weight'] = port_df['amount'] / port_df['amount'].sum()

port_df['new_weight'] = vola_target_weights

"""
    Case 1: Rebalance
    Description: Sell one ETF and Buy the other ETF
    Method: The new units are calculated based on maintaining same Total Portfolio Value 
"""
# calculate new units [Rebalance Case]
port_df['new_unit'] = np.floor(port_df['new_weight'] * (port_df['amount'].sum()) / port_df['last_price'])

port_df['trans_unit'] = port_df['new_unit'] - port_df['unit']
port_df['new_amount'] = port_df['last_price'] * port_df['new_unit']
port_df['trans_cash'] = port_df['new_amount'] - port_df['amount']

port_df

,unit,last_price,amount,curr_weight,new_weight,new_unit,trans_unit,new_amount,trans_cash
TMF,311,23.320000,7252.519905,0.689629,0.688471,310.0,-1.0,7229.199905,-23.32
TQQQ,33,98.910004,3264.030121,0.310371,0.311529,33.0,0.0,3264.030121,0.00

In [6]:
# Print buy and sell statements
for index, row in port_df.iterrows():
    if row['trans_unit'] < 0:
        print("Sell {} shares of {} ".format(abs(int(row['trans_unit'])), index))
    else:
        print("Buy {} shares of {} ".format(int(row['trans_unit']), index))

Sell 1 shares of TMF
Buy 0 shares of TQQQ

In [7]:
# Calculate portfolio value if one ETF units were kept same.
port_df['port_value'] = port_df['unit'] * port_df['last_price'] / port_df['new_weight']

for ticker in port_df.index:
    # Calculate new units for each ETF
    port_df['new_unit'] = np.floor(port_df.loc[ticker, 'port_value'] * port_df['new_weight'] / port_df['last_price'])

    port_df['trans_unit'] = port_df['new_unit'] - port_df['unit']
    port_df['new_amount'] = port_df['last_price'] * port_df['new_unit']
    port_df['trans_cash'] = port_df['new_amount'] - port_df['amount']

    # Print portfolio details
    title_print = "Keep {} ETF at {} units with total portfolio value {}".format(ticker, port_df.loc[ticker, 'new_unit'], port_df.loc[ticker, 'port_value'])
    sep_print = "=" * len(title_print)
    print(sep_print)
    print(title_print)

    # Print buy and sell statements
    for index, row in port_df.iterrows():
        if row['trans_unit'] < 0:
            print("Sell {} shares of {} ".format(abs(int(row['trans_unit'])), index))
        else:
            print("Buy {} shares of {} ".format(int(row['trans_unit']), index))
            
    print(sep_print)
    print(port_df)

=========================================================================
Keep TMF ETF at 311.0 units with total portfolio value 10534.237725622821
Buy 0 shares of TMF
Buy 0 shares of TQQQ
=========================================================================
      unit  last_price       amount  curr_weight  new_weight  new_unit  \
TMF    311   23.320000  7252.519905     0.689629    0.688471     311.0
TQQQ    33   98.910004  3264.030121     0.310371    0.311529      33.0

      trans_unit   new_amount  trans_cash    port_value
TMF          0.0  7252.519905         0.0  10534.237726
TQQQ         0.0  3264.030121         0.0  10477.460622
=========================================================================
Keep TQQQ ETF at 33.0 units with total portfolio value 10477.460621841043
Sell 2 shares of TMF
Buy 0 shares of TQQQ
=========================================================================
      unit  last_price       amount  curr_weight  new_weight  new_unit  \
TMF    311   23.320000  7252.519905     0.689629    0.688471     309.0
TQQQ    33   98.910004  3264.030121     0.310371    0.311529      33.0

      trans_unit   new_amount  trans_cash    port_value
TMF         -2.0  7205.879906  -46.639999  10534.237726
TQQQ         0.0  3264.030121    0.000000  10477.460622